<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
  .class1{background-color: #dfebf2;}
  #abc{font-size: 30px;color: #5e5c5c;}
  #h1{color: #354f5e;}
  .class2{padding-left: 20px;}
</style>
<body class="container">

<div class="jumbotron text-center class1">
  <h1 id="h1">EDYOGA</h1>
  <p id="abc" >CareAll-Retired folks make <br>themselves available for care &<br> young can earn by taking care.</p> 
</div>
  
<div class="container" >
  <div class="row">
    <div class="col-sm-6" class="class2">
      <h3 class="text-center">ELDER</h3>
      <p class="text-center">SignUp for takecare of yourself</p>
      <p class="text-center"><a href="/accounts/register/elder/"><button type="button" class="btn btn-default">SignUp</button></a>&nbsp;<a href="/accounts/login/elder/"><button type="button" class="btn btn-default">Login</button></a></p>
    </div>
    <div class="col-sm-6">
      <h3 class="text-center">YOUNGER</h3>
      <p class="text-center">SignUp for making money by taking care of elders!</p>
      <p class="text-center"><a href="/accounts/register/younger/"><button type="button" class="btn btn-default">SignUp</button></a>&nbsp;<a href="/accounts/login/younger/"><button type="button" class="btn btn-default">Login</button></a></p>
    </div>
  
  </div>
</div>

</body>
</html>
